.page-header .row,
.page-header h1 {
  padding-top: 50px;
}

#banner {
  border: 0;
}

.footer-bg {
  height: 100px;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

footer {
  margin-top: 30px;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background: url(/img/photo.jpg) no-repeat;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.title {
  margin-top: 30px;  
  animation-name: title-show;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes title-show {
  0% {
    opacity: 0;
    margin-left: -40px;
  }

  100% {
    opacity: 1;
  }
}

.links {
  font-size: 16px;
}